.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
 margin-right: 20px;
 text-decoration: inherit;
 color: rgba(0, 0, 0, 0.87);
 font-size: 15px;
}


.home__header a:hover {
  text-decoration: underline;
}

.home__headerRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: flex-end;
}

.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2em;
}

.home__body h1 {
  text-align: center; 
  font-family: 'Bebas Neue', cursive;
  font-size: 12vw;
  user-select: none;
}

.home .home__header .home__headerLeft{
  position: relative !important;
  z-index: 20 !important;
}

 .home .home__header .home__headerRight{
  position: relative !important;
  z-index: 20 !important;
}

.home__bodytitle {
  display: inline;
  position: relative;
  z-index: 20;
}

.search__buttons{
  position: relative;
  z-index: 20;
}
