.brand {
  display: flex;
  flex:1;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  margin-bottom: 2em;
  user-select: none;
}
.brand h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 6vw;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.brand p {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  font-weight: normal;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 580px){
  .brand h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    font-weight: bold;
  }

  .brand p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 2px;
  }
}
